@tailwind base;
@tailwind components;
@tailwind utilities;

.max-h-screen{
  max-height: 100vh;
}
/* Thin & modern scrollbar */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: #9ca3af; /* gray-400 */
  border-radius: 9999px;
}

.dark ::-webkit-scrollbar-thumb {
  background-color: #4b5563; /* gray-600 */
}

::-webkit-scrollbar-track {
  background: transparent;
}

/* Thin & modern scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #18181b; /* modern dark black */
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #27272a; /* slightly lighter on hover */
}

/* Firefox support */
* {
  scrollbar-color: #18181b #0f172a;
}